// General Floating Apps
window-rule {
    match app-id=r"^org\.gnome\.Calculator$"
    match app-id="^pavucontrol$"
    match app-id="^localsend$"
    match app-id="^nm-connection-editor$"
    match app-id="^blueman-manager$"
    match app-id="^nwg-look$"
    match app-id="^qt5ct$"
    match app-id="^qt6ct$"
    match app-id=r"^org\.gnome\.FileRoller$"
    match app-id="^gnome-disks$"
    match app-id="^seahorse$"
    match app-id="^xdg-desktop-portal-gtk$"

    open-floating true
}

// Media apps: opaque and floating
window-rule {
    match app-id="^mpv$"
    match app-id="^vlc$"
    match app-id="^imv$"
    match app-id="^zoom$"
    match app-id=r"^com\.obsproject\.Studio$"
    match title=".*YouTube.*"
    match title=".*Twitch.*"

    opacity 1.0
    open-floating true
}

// Steam main rules
window-rule {
    match app-id="^steam$"

    opacity 1.0
}

// Floating Steam windows
window-rule {
    match app-id="^steam$" title="^Friends List$"
    match app-id="^steam$" title="^Steam - News$"
    match app-id="^steam$" title=".* - Chat$"

    open-floating true
}

// Picture-in-Picture
window-rule {
    match title="^Picture-in-Picture$"
    match app-id="^firefox$" title="^Picture-in-Picture$"
    match app-id="^helium$" title="^Picture-in-Picture$"

    open-floating true
}
